db_data/
wordpress_data/

*.sql
*.sql.gz
*.zip
*.tar
*.tar.gz

.env
.env.*

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

wp-content/cache/
wp-content/uploads/cache/

wp-content/upgrade/

wp-content/debug.log

node_modules/

vendor/